.new {
  margin: 0 30px;
  color: #1e90ff;
}
.list {
  list-style: none;
  padding: 4px 0;
  margin: 0 30px;
  font-weight: 300;
}

.todo {
  position: relative;
  display: block;
  margin: 24px 0;
  height: 14px;
}

.task {
  float: left;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  float: right;
  width: 20px;
  height: 20px;
  border: 1px solid fade-out(#643a7a, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  stroke: rgba(100, 58, 122, 0.5);
  fill: none;
  stroke-dashoffset: 340;
  stroke-dasharray: 360;
}

.edit {
  color: #1e90ff;
  margin: 0 0.5rem;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 0.5rem;
}

.delete {
  color: #d32f2f;
  cursor: pointer;
}
